Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Assets/UI/blackholeui.uasset
Content/Assets/UI/MassGauge.png
Content/Assets/UI/transspritematerial.uasset
Content/TopDownBP/Maps/MainMapBuilder.umap
